anyio
fastapi
httpx
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-sdk
pydantic<2
prometheus_client
redis
requests
respx
uvicorn[standard]
